* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 60px;
    background: black;
    margin-bottom: 20px;

}

.box {
    clear: both;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.box1 {
    width: 1200px;
    height: 260px;
    margin: 0 auto;
}

h1 {
    height: 60px;
    color: white;
    float: left;
    font-weight: normal;
    line-height: 60px;
    font-size: 26px;
    margin-right: 60px;
}

.ul4 {
    height: 60px;
    float: left;
}

.p13 {
    width: 50px;
    height: 60px;
    float: left;
}

.img-box {
    width: 616px;
    height: 260px;
    margin-right: 15px;
    position: relative;
    float: left;
}

.ul1 {
    width: 616px;
    height: 260px;
}

.ul1 li {
    height: 260px;
    position: absolute;
    top: 0;
    left: 0;
}

.ul1 img {
    width: 616px;
    height: 260px;
}

.lr-left, .lr-right {
    width: 40px;
    height: 32px;
    position: absolute;
    top: 114px;
}

.lr-left {
    left: 30px;
}

.lr-right {
    right: 30px;
}

.point {
    width: 96px;
    height: 24px;
    position: absolute;
    left: 260px;
    bottom: 10px;
}

.point ul {
    width: 96px;
    height:24px;
}

.point li {
    width: 10px;
    height: 10px;
    margin: 7px;
    float: left;
    background: white;
    border-radius: 5px;
}

.ul2 {
    width: 270px;
    height: 260px;
    float: left;
    list-style: none;
}

.ul3 {
    width: 284px;
    height: 260px;
    background: #333333;
    float: right;
}
.box1 .ul2 li {
    width: 270px;
    height: 125px;
    background: sienna;
    list-style: none;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.ul2 p {
    width: 80%;
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.ul2 img{
    transition: all 1s;
}
.ul2 img:hover{
    content: "";
    transform: scale(1.2,1.2);
}
.box li {
    margin-right: 40px;
    float: left;
}
.box a:hover {
    color: limegreen;
}
.box a {
    color: white;
    line-height: 60px;
    text-decoration: none;
}
.ul3 h1 {
    width: 350px;
    height: 60px;
}
.ul3 li {
    width: 350px;
    height: 20px;
    margin-top: 25px;
    list-style: none;
}
.diary {
    width: 1160px;
    height: 270px;
    background: whitesmoke;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}
.diary-left {
    width: 860px;
    height: 270px;
    padding-right: 20px;
    float: left;
    background: white;
}
.diary-left-one{
    width: 860px;
    border-bottom: 1px solid #323232;
    float: left;
    margin-bottom: 20px;
}
.diary-left li {
    float: left;
    list-style: none;
    margin-right: 30px;
}
.diary-left-one a{
    display: block;
    line-height: 42px;
}
.diary-img{
    width: 276px;
    height: 218px;
    margin-right: 14px;
    float: left;
}
.diary-img ul{
    width: 276px;
    height: 218px;
    border: none;
}
.diary-img ul li a{
    width: 276px;
    height: 100px;
    margin-bottom: 8px;
    position: relative;
}
.diary-img ul li a img{
    width: 276px;
    height:100px;

}
.diary-img ul li a p {
    width: 276px;
    height: 44px;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.diary-ul{
    width: 566px;
    height: 218px;
    float: right;
}
.diary-ul li{
    width: 566px;
    height: 90px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: none;
}

.diary-ul li a {
    height: 32px;
    margin-bottom: 12px;
    line-height: 32px;
    color: #333333;
    font-size: 16px;
}
.slide {
    width: 244px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: right;
}
.slide div {
    font-size: 16px;
    line-height: 42px;
    border-bottom: 1px solid wheat;
    position: relative;
}
.slide div::before {
    content: "";
    width: 80px;
    height: 2px;
    background: #333333;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.slide ul {
    margin-top: 10px;
    width: 264px;
    clear: both;
}
.slide ul li {
    width: 202px;
    height: 30px;
    background: mistyrose;
    clear: both;
    margin-bottom: 20px;
    padding: 0 12px 0 30px;
    position: relative;
}

.slide ul li a::before {
    content: "";
    width: 3px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 14px;
    border-radius: 10px;
    background: black;
}

/*d3b*/
.seminar {
    width: 1200px;
    height: 1500px;
    margin: 20px auto;
    overflow: hidden;
    background: whitesmoke;
}

.new-left {
    width: 860px;
    min-height: 560px;
    padding: 20px;
    float: left;
    border-radius: 5px;
    background: white;
}

.new-right {
    width: 282px;
    min-height: 600px;
    background: antiquewhite;
    float: right;
    margin-left: 16px;
}

.new-left div {
    font-size: 16px;
}
.new-begin{
    width:900px;
    overflow: hidden;
}
.new-first{
    width: 860px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
}
.new-left-first {
    width: 840px;
    height: 580px;
    margin: 20px 10px;

}

.new-left-first li {
    width: 239px;
    height: 242px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
    list-style: none;
    padding: 20px;

}
.new-left-first li:nth-child(3){
    border-right: none;
}
.new-left-first li:nth-child(6){
    border-right: none;
    border-bottom: none;
}
.new-left-first li:nth-child(5){
    border-bottom: none;
}
.new-left-first li:nth-child(4){
    border-bottom: none;
}
.new-left-first li::after {
    clear: both;
}
.new-left-first li a{
    border-bottom: 0 ;
}

.new-left-first li .a-href-one::before{
    content: "+";
}
.new-left-first li h1{
    width: 240px;
    height: 30px;
    line-height: 30px;
    margin-right: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 16px;
    font-weight: bolder;
    overflow: hidden;

}
.new-left-first li p{
    width:250px;
    height: 62px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.new-left-second {
    float: right;
}

.new-left-second li {
    margin-right: 15px;
    float: left;
    list-style: none;
}
.li-one img {
    width: 240px;
    height: 116px;
}
.new-right {
    width: 242px;
    height: 731px;
    padding: 20px;
    background: honeydew;
    float: right;
}

.nr-one {
    width: 242px;
    margin-bottom: 20px;
}

.nr-bt {
    border-bottom: 1px solid #333333;
    margin-bottom: 20px;
}

.nr-one h2 {
    width: 242px;
    height: 41px;
}

.nr-img {
    position: relative;

}

.nr-img img {
    width: 242px;
    weigth: 160px;
}

.nr-img span {
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
}

.nr-ul {
    width: 242px;
    height: 280px;
    margin-top: 20px;
}

.nr-ul ul {
    width: 242px;
    height: 280px;
}

.nr-ul ul li {
    width: 222px;
    height: 30px;
    padding-left: 20px;
    background: white;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.nr-ul ul li::before {
    content: "1";
    width: 16px;
    height: 16px;
    display: block;
    background: #b1b1b1;
    position: absolute;
    left: 2px;
    top: 7px;
    font-size: 14px;
    text-align: center;
}

.nr-ul ul li:nth-child(1)::before {
    background: orange;
    content: "1";
}
.nr-ul ul li:nth-child(2)::before {
    background: orange;
    content: "2";
}
.nr-ul ul li:nth-child(3)::before {
    background: orange;
    content: "3";
}
.nr-ul ul li:nth-child(4)::before {
    content: "4";
}

.nr-ul ul li:nth-child(5)::before {
    content: "5";
}

.nr-ul ul li:nth-child(6)::before {
    content: "6";
}

.nr-ul ul li:nth-child(7)::before {
    content: "7";
}
.nr-ul a {
    color: black;
    font-size: 16px;
}

.nr-ul2 {
    width: 242px;
    margin-top: 20px;
}

.nr-ul2 ul li {
    width: 242px;
    height: 50px;
    margin-bottom: 10px;
}

.nr-ul2 a {
    width: 242px;
    height: 70px;
}

.nr-ul2 img {
    width: 70px;
    height: 50px;
}

.nr-ul2 p {
    width: 162px;
    height: 50px;
    float: right;
    font-size: 14px;
}

/*1*/
.new-end {
    clear: both;
    width: 820px;
    height: 300px;
    padding: 20px;
    background: white;
    border-bottom: 1px dashed #333333;
}

.end-one {
    border-bottom: 1px solid #333333;
}

.end-one {
    font-weight: normal;
    font-size: 16px;
}

.end-two {
    margin-bottom: 20px;
    margin-top: 20px;
}

.end-two h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.two-left {
    width: 198px;
    height: 124px;
    float: left;
    position: relative;
    margin-right: 20px;
}

.two-left h3 {
    background: deepskyblue;
    position: absolute;
    left: 0;
    top: 0;
}

.two-left img {
    width: 198px;
    height: 124px;
}

.two-right {
    width: 600px;
    height: 124px;
    float: right;
}

.right-two {
    width: 600px;
    height: 34px;
    float: left;
}

.right-two img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.right-two span {
    margin-right: 20px;
}

.two-right a {
    width: 70px;
    height: 25px;

}

.a-two {
    float: right;
    background: deepskyblue;
}

.end-three {
    margin-top: 20px;
    overflow: hidden;
}
